---
import { getNotion } from "../utils/getNotion";

const { response } = await getNotion("8310cd12974b42989c496f8b4480546e");

const titles = response.results.map((block) =>
  block.properties.Name.type === "title"
    ? block.properties.Name.title[0].plain_text
    : "Missing Title"
);
---

<header
  class="sticky top-0 z-30 h-[72px] bg-gray-900 bg-opacity-50 backdrop-blur backdrop-filter firefox:bg-opacity-90"
>
  <div class="mx-auto max-w-7xl xl:px-8">
    <div
      class="flex items-end justify-between border-b border-gray-800 px-4 py-5 sm:px-6 lg:px-8 xl:px-0"
    >
      <a class="text-4xl" href="/">🏠</a>
      <div>
        {
          titles.map((title) => {
            const id = title.split(" ").join("-").toLowerCase();
            return id === "home" ? (
              ""
            ) : (
              <a class="text-md px-2" href={`/${id}`}>
                {title}
              </a>
            );
          })
        }
      </div>
    </div>
  </div>
</header>
<!-- <nav>
  <ul>
    {
      titles.map((title) => (
        <li>
          <a href={`#${title.toLowerCase()}`}>{title}</a>
        </li>
      ))
    }
  </ul>
</nav> -->
